@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.Main{
    height: 100vh;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.header{
    height: 16%;
    background-color: rgb(3, 116, 255);
   border-radius: 10px;
   padding: 10px;
   color: white;
}
.desc{
    font-family: Roboto;
    font-size: 12px;
    color: white;
    margin: 10px;
}
.bodycontainer{
    height: 64%;
    width: 100%;
    display: flex;
    gap: 16px;
}
.footer{
    height: 16%;
    background-color: rgb(65, 74, 85);
    border-radius: 10px;
}
.sidebar-nav{
    min-height: 100%;
    width: 26%;
    background-color: rgb(4, 247, 121);
    border-radius: 10px;
    overflow-y: scroll;
}
.sidebar-nav{
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.sidebar-nav::-webkit-scrollbar{
    display: none;
}
.content-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.main-content-sec{
    background-color: rgb(153, 0, 255);
    width: 100%;
    height: 50%;
    border-radius: 10px;
   
}
.rel-and-cal-con{
    height: 50%;
    display: flex;
    width: 100%;
    gap: 16px;
}
.call-action{
    background-color: rgb(27, 36, 140);
    width: 50%;
     border-radius: 10px;
}
.related-content{
    background-color: rgb(83, 91, 11);
 border-radius: 10px;
    width: 50%;
}
.navitems{
    list-style-type: none;
}
.navitems li{
    font-family: Roboto;
    font-size: 14px;
    padding: 16px;
    padding-left: 30px;
    
}
.navitems li a{
    text-decoration: none;
    color: black;
}
.navitems li:hover{
    background-color: rgb(99, 219, 115);
    cursor: pointer;
}
